version: '3'
services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: hacker-news
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PW}
    volumes:
      - mongodb_data:/data/db

#  hacker_server:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    container_name: hacker_server
#    ports:
#      - "8080:8080"
#    depends_on:
#      - mongodb
#    environment:
#      MONGO_URL: ${MONGO_URL}

volumes:
  mongodb_data:
